[access]
	inheritFrom = All-Projects
[project]
	description = Fabric Test Resources
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-test-resources-committers
	read = group GitHub Replication
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-test-resources-committers
	pushTag = group ldap/hyperledger-gerrit-fabric-test-resources-committers
	pushSignedTag = group ldap/hyperledger-gerrit-fabric-test-resources-committers
